{%extends "base1.html"%}
{% load staticfiles %}
{% load crispy_forms_tags %}


{%block title%}Schedule{%endblock%}

{%block 1%}
<div class = "d-inline p-2 bg-primary text-white">
<h1> Add Schedule</h1>
</div>
<table class="table table-bordered" >
<tbody bgcolor="#009999">
<div class='row'>
<div class= 'col-sm-6 col-sm-offset-4'>
<form method='POST' action='' class = "col-sm-8">{% csrf_token %}

{{schedfor.as_table}}

<tr>
<td>
<input type='submit' class="btn btn-primary btn-block btn-lg" value='Save' class="btn btn-primary"/>
</td>
<td>
<input type="button" class="btn btn-primary btn-block btn-lg" value="Back" onclick="javascript:history.go(-1);" class="btn btn-primary"/>
</td>
</tr>

</form>
</div>
</div>
</tbody>
</table>

<div class = "d-inline p-2 bg-primary text-white">
<h1>Browse Schedule</h1>
</div>
<table class="table table-bordered" >
<tbody bgcolor="#009999">
<tr>
<td>Task</td>
<td>Start Date</td>
<td>Duration (Days)</td>
<td>Due Date</td>
<td>Completed</td>
<td>Comment</td>
</tr>

{% for i in scheds %}

<tr>
<td>
<a href="{% url 'viewshed' id=i.id %}", style="color: rgb(0,255,255)">{{i.task}}</a>
</td>
<td>
{{i.date}}
</td>
<td>
{{i.duration}}
</td>
<td>
{{i.task_date}}
</td>
<td>
{{i.completed |yesno:"Yes,No" }}
</td>
<td>
{{i.comment}}
</td>
</tr>


{%endfor%}

</tbody>
</table>


{%endblock%}
